@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
   
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}
section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--green);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}
#search-btn{
    display: none;
}
.header .header-2{
    background:var(--green);
}
.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}
.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}
.featured{
    width: 100%;
    height: 60vh;
    background:linear-gradient(to right, rgba(0,0,0,1) 20% ,rgba(255,255,255,0.2)), url(image/banner-bg.jpg);
    background-size: cover;
    position: relative;
}
.featured-text{
    max-width: 500px;
    position: absolute;
    top: 10%;
    left: 31%;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 4rem;
    letter-spacing: 3px;
}
.latest{
    padding: 50px 100px;
}
.product-intro{
    color: var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: bolder;
   text-align: center;
}
.product-intro h1 span{
    color: green;   
}
.product-intro p{
    color: grey;
    margin: 15px 0;  
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 4rem 0;
}
.card-container .card{
    flex-basis: 20%;
    padding: 0.8rem;
    position: relative;
}
.card img{
    width: 100%;
}
.card i{
    color: goldenrod;
    font-size: 20px;
    margin: 20px 0;
    padding: 14px;  
}
.card p{
    font-weight: bolder;
    font-size: 20px;  
}
.btn-feature{
    margin-top: 1rem;
    display:block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    text-align: center; 
}
.btn-feature:hover{
    background:var(--dark-color);
}
.card:hover img, .card:hover h1{
     width: 120%;
     color: var(--primary);
}
.card::before{
    content: '20%off';
    width: 25%;
    height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    padding: 0px 4px;
    transform: rotate(-20deg);
    text-align: center;  
}
#overtext{
	position: relative;
}
.overtext{
	position: absolute;
    margin-top: -370px;
	padding: 10px; 
	height: 71%;
	display: none;
    width: 112%;
}
#overtext:hover .overtext{
	background-color: rgba(0,0,0,0.6);
	color: white;
	display: block;
    visibility: visible;
    text-align: center;
}
.cart{
    margin-top: 1rem;
    display:block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    text-align: center;   
}
.trends{
    padding: 50px 100px;
    background-color: rgba(0,0,0,0.01);
}

.trends .swiper {
    width: 100%;
    padding: 50px;
  }

  .trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .trends .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}
.footer .share a:hover{
    background:var(--black);
}
.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}
.footer .credit span{
    color:var(--green);
}
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}





